
@use '../base/typography.scss';
body{
    background: hsl(46, 77%, 66%); 
}

    .main-content {
        margin: 4em auto 0;
        width: 740px;
    }

.ticket {
	display: grid;
	grid-template-columns: auto 143px;
    background-color: hsl(24, 82%, 71%);
	border-radius: 10px;
	border: 2px solid #222;
	cursor: default;
    padding-block-start: 20px;
     padding-block-end: 20px;
    &__main{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, min-content) auto;
    }

}
	

.image{
 display: block;
 grid-row-start: 1;
 margin-block: auto;
 grid-row-end: 1;
  inline-size: 100%;
  block-size: auto;
  border: 1.5px solid black;
  border-width: 2.5px;
  margin-inline-start: 2em;
  padding-inline-end: 0.5;
  
}
 

 .info{
   display: grid;
   justify-items: center;
 
   &__lineone{
       font-family: 'IM Fell French';
       text-decoration: underline black 1px;
       grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    margin-block: auto;
    font-size: 15px;
    font-weight: 400;
    
   }
  
   &__date{
       font-family: 'Bajigoor SW';
      text-decoration: underline black 1.5px;
      font-size:25px; 
      letter-spacing: 4px;
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    margin-block: auto;
   font-weight: bolder;
    line-height: .8;
    word-spacing: 12px;

   }

   &__event{
    grid-column-start: 1;
    grid-row-start: 4;
    grid-row-end: 4;

    .lineone{
        font-family:'Montserrat-Regular';
        text-align: center;
        padding-block-start: 4px;
        word-spacing: 14px;

    }
    .linetwo{
        text-align: center;
        font-family: 'Lora Bold';
       margin-block-end:2px ;
    text-decoration: underline black 1.5px;
    font-size: 28px;
    line-height: 2em;
    
   }
}
   &__price{
       font-family: 'California Paradise';
    grid-column-start: 1;
    grid-row-start: 5;
    grid-row-end: 5;
    font-size: 45px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1em;
    word-spacing: 2px;
    //padding-block-start: 0.5px;
   }
 }

 .ticket__right{
    display: grid;
    justify-items: center;
    writing-mode: vertical-rl;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, min-content) auto;
    
    //grid-template-columns: 40px repeat(2,45px);


    .right{
        justify-items: center;
        text-align: center;
         display: flex;
         flex-direction: column;
         
        &__platform{
            font-family: 'California Paradise';
            margin-block:auto;
            margin-block-start: 80px;
              grid-row: 5;
              text-decoration:overline black 1.5px ;
        }
      
    
    
    &__location{
        font-family: 'Bodoni Roman';
        text-decoration: underline black 1.5px;
        grid-column: 4;
    
    }
    
    &__date{
        font-family: 'Bodoni Roman';
        grid-column: 3;
        font-weight: bolder;
        text-decoration:underline black 1.5px;
    }
    
    
    
    &__info{
        font-family:'type writer';
        grid-column: 2;
        text-decoration: underline black 1.5px;
     
    }
    
    
    &__company{
        font-family:'roboto mono bold';
        grid-column: 1;
        
      
    }
    
      
    }
    






}

