

@font-face {
    font-family:"IM Fell French" ;
    src: url('../fonts/FeFCsc2.ttf');
}

@font-face {
    font-family:"Bajigoor SW" ;
    src: url('../fonts/Bajigoor SW Demo.otf');
}

@font-face {
    font-family:"Montserrat-Regular";
    src: url('../fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family:"Lora Bold" ;
    src: url('../fonts/Lora-Bold.ttf');
}
@font-face {
    font-family: 'Lora Bold Italic';
    src: url('../fonts/Lora-BoldItalic.ttf');
}
@font-face {
    font-family:'California Paradise' ;
    src: url('../fonts/California Paradise.otf');
}

@font-face {
    font-family:'Bodoni Roman' ;
    src: url('../fonts/BodoniFLF-Roman.ttf');
}
@font-face {
    font-family:'type writer' ;
    src: url('../fonts/TYPEWR__.TTF');
}
@font-face {
    font-family:"roboto mono bold" ;
    src: url('../fonts/RobotoMono-Bold.ttf');
}